/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general  */
:root {
    --color-main-bg: #000000;
    --color-footer-bg: #222222;
    --color-element-bg: #4a4a4a;
    --color-share: #4bc800;
    --color-main: #ffffff;
    --color-end: #e20000;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--color-main-bg);
    color: var(--color-main);
}

/* .debug {
    border: 3px solid red;
} */

/* main  */
header {
    width: 100%;
    height: 50px;
    padding-top: 3px;
}

main {
    height: calc(100% - 120px);
    width: 100%;
    overflow-y: auto;
    padding: 20px 50px;
    gap: 10px;
}

#app {
    width: 100%;
    height: 100vh;
}

.user {
    min-width: calc(100% / 7 - 10px);
    aspect-ratio: 16 / 9;
    position: relative;
}

.user img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    display: inline-block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3px;
    left: 0;
    bottom: 0;
    font-size: x-small;
}

div.name::before {
    content: "\f131";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
}
/* footer  */
#toolbar {
    background-color: var(--color-footer-bg);
    height: 70px;
}
footer {
    font-size: x-small;
}
footer div {
    color: var(--color-end);
    height: 100%;
    padding-left:20px;
    padding-right:20px;
    background-color: var(--color-element-bg);
    font-weight: 700;
}
footer ul li{
    padding: 0 10px;
    gap: 8px;
}
.fa-share-from-square{
    color: var(--color-share);
}

footer .fa-solid:not(.fa-angle-up) {
    font-size: x-large;
}
/* utility */
.element-bg{
    height: min-content;
    background-color: var(--color-element-bg);
    margin-left: 10px;
    padding: 3px 5px;
    border-radius: 3px;
    font-size: x-small;
}
.d-blocK{
    display: block;
}
.ta-center{
    text-align: center;
}
/* flex-utility */
.d-flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.row{
    flex-direction: row;
}
.space-between{
    justify-content: space-between;
}
.jc-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.align-items {
    align-items: center;
}

.wrap {
    flex-wrap: wrap
}